@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@font-face {
  font-family: "Industry";
  src: url("../fonts/Industry-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Industry";
  src: url("../fonts/Industry-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Industry";
  src: url("../fonts/Industry-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Industry";
  src: url("../fonts/Industry-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbc319;
}

body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 320px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: #fff;
	background: #0b0b0b;
	font-size: 17px;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	margin: 0 auto;
	min-width: 320px;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

header{
	width: 100%;
	height: auto;
	background: url(../img/header_bg.png) center 0px no-repeat;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 100px;

}
header nav{
	display: flex;
	justify-content: space-between;
}

header nav ul li{
	list-style: none;
	display: inline-block;
}

header nav ul li a{
	display: inline-block;
	font-family: "Industry", sans-serif;
	font-weight: 300;
	transition: all linear .2s;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin: 0px 12px;
}
header nav ul li a i{
	color: #ecb818;
}
header nav ul li a:hover, header nav ul li a.active{
	border-bottom: 2px solid #ecb818;
	padding-bottom: 5px;
	color: #ecb818;
}

:root {
  --animationSpeed: 0.25s;
}
.hamburger-menu {
  display: none;
  padding: 3px;
  width: 29px;
}

.bars-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.bars-container,
.bar {
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
}

.overlap-container {
  position: relative;
  padding: 0 0 0 0;
  top: -1.3px;
}

.overlap-container .bar {
  position: absolute;
  top: 0;
}

.bar1,
.bar4 {
  transform-origin: center left;
  position: relative;
}

.open_all.mobile{
	display: none;
}

.bars-container3 .bar1 {
  animation: slideInLeft3Backward var(--animationSpeed) ease 0s 1 forwards;
}

.bars-container3 .bar2 {
  animation: crossBar2Three-backward var(--animationSpeed) ease 0s 1 forwards;
}

.bars-container3 .bar3 {
  animation: crossBar3Three-backward var(--animationSpeed) ease 0s 1 forwards;
}

.bars-container3 .bar4 {
  animation: slideInRight3Backward var(--animationSpeed) ease 0s 1 forwards;
}

.input-check3:checked + label .bar1 {
  animation: slideOutLeft3 var(--animationSpeed) ease 0s 1 forwards;
}

.input-check3:checked + label .bar2 {
  animation: crossBar2Three var(--animationSpeed) ease 0s 1 forwards;
}

.input-check3:checked + label .bar3 {
  animation: crossBar3Three var(--animationSpeed) ease 0s 1 forwards;
}

.input-check3:checked + label .bar4 {
  animation: slideOutRight3 var(--animationSpeed) ease 0s 1 forwards;
}

@keyframes slideOutLeft3 {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideOutRight3 {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}

@keyframes slideInLeft3Backward {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight3Backward {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes crossBar2Three {
  from { transform: rotate(0def); }
  to { transform: rotate(40deg); }
}

@keyframes crossBar2Three-backward {
  from { transform: rotate(40deg); }
  to { transform: rotate(0deg); }
}

@keyframes crossBar3Three {
  from { transform: rotate(0def); }
  to { transform: rotate(-40deg); }
}

@keyframes crossBar3Three-backward {
  from { transform: rotate(-40deg); }
  to { transform: rotate(0deg); }
}

.header_block p{
	font-family: "Industry", sans-serif;
	font-weight: bold;
	color: #fcc419;
	margin-top: 150px;
	font-size: 70px;
	margin-bottom: 120px;
}
.header_block a{
	margin-bottom: 280px;
}
.read_btn{
	color: #fcc419;
	font-weight: bold;
	font-size: 18px;
	transition: all .3s ease;
	padding: 10px 30px;
	padding-right: 100px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid #fcc419;
}
.read_btn:after{
	position: absolute;
	content: '';
	right: 15px;
	top: 49%;
	width: 20px;
	height: 3px;
	background: #fcc419;
	display: block;

}

.matches_nav{
	display: flex;
	justify-content: space-between;
}
.matches_nav ul li{
	display: inline-block;
	list-style: none;
}
.matches_nav ul li:first-child{
	margin-right: 20px;
}
.matches_nav ul li a{
	position: relative;
	color: #575757;
	text-decoration: none;
	transition: all .2s;
	display: inline-block;
	margin: 0px 30px;
}
.matches_nav ul li a:after{
	position: absolute;
	content: '';
	left: -20px;
	top: 8px;	
	border: 1px solid #333333;
	border-radius: 2px;
	transition: all .3s;
	width: 10px;
	height: 10px;
}

.matches_nav ul li a:hover:after, .matches_nav ul li a.active:after{
	background: #fac219;
	border-color: #fac219;
}
.matches_nav ul li a:hover,.matches_nav ul li a.active{
	color: #fac219;
}
.open_all{
	color: #fac219;
	border-bottom: 2px solid #483a0f;
	padding-bottom: 3px;
	transition: all .2s;
	text-decoration: none;
}
.open_all:hover{
	opacity: .8;
}
.matches_row{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.matches_row .match_item{
	width: 33.15%;
	background: url(../img/match_bg.png) center center no-repeat;
	background-size: auto;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	overflow: hidden;

	z-index: 100;
	opacity: 0.6;
	padding: 0px 30px;
	transition: all.4s;
	position: relative;
	box-sizing: border-box;
}
.match_item img{
	height: 80px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.match_item p{
	font-size: 14px;
	color: #fff;
	margin-bottom: 25px;
}
.match_item ul li{
	font-family: "Industry", sans-serif;
	font-size: 45px;
	display: inline-block;
	transition: all .3s;
	font-weight: bold;
	position: relative;
}
.match_item ul li span{
	width: 25px;
	height: 8px;
	display: inline-block;
	background: #fac219;
	margin-bottom: 10px;
	transition: all .3s;
}
.match_item:hover{
	opacity: 1;
	background-position: center -30px;
	cursor: pointer;
	margin: -15px;
}
.match_item:hover:after{
	width: 90%;
	height: 100%;
	content: '';
	position: absolute;
	display: block;
	left: -60%;
	top: 0;
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(250, 194, 25, .5)); 
}
.match_item:hover:before{
	width: 90%;
	height: 100%;
	content: '';
	position: absolute;
	display: block;
	right: -60%;
	top: 0;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(250, 194, 25, .5)); 
}
.match_item:hover ul li{
	color: #fac219;
}
.match_item:hover ul li span{
	background: #fff;
}

.sponsores{
	width: 100%;
	margin: 50px 0px;
}

.sponsores_block .slick-slide{
	margin: 0px 25px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
}
.sponsores_block div img{
	width: 100%;
}
.sponsores_block button{
	display: none !important;
}

.roster{
	margin: 100px 0px;
	margin-bottom: 50px;
	background: url(../img/light-left.png) left top no-repeat;
	width: 100%;
}

.roster_row{
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.roster_row .roster_left{
	width: 20%;

}
.roster_title{
	transform: rotate(-90deg);
	    justify-content: flex-end;
	display: flex;
}
.roster_left .horizontal{
	transform: rotate(90deg);
	    align-self: center;

}
.roster_left .horizontal p{
	color: #fcc419;
	font-size: 85px;
	font-family: 'Industry', sans-serif;
	font-weight: bold;
}
.roster_left .vertical{
	align-items: top;
	margin-right: -25px;
	margin-top: 25px;
}
.roster_left .vertical p{
	color: #fff;
	padding-bottom: 85px;
	font-size: 85px;
	line-height: 85px;
	font-family: 'Industry', sans-serif;
	font-weight: bold;
}
.roster_left .vertical p span{
	color: #0b0b0b;
	font-size: 85px;
	text-shadow: 0px 0px 2px #fac419;
	font-family: 'Industry', sans-serif;
	font-weight: bold;
}
.roster_row .roster_right{
	width: 75%;
	margin-left: 5%;
}
.roster_row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.roster_card{
	width: 30%;
	display: inline-block;
	margin: 1%;
	background: rgba(0,0,0,.7);
}
.roster_card .roster_img{
	overflow: hidden;
}
.roster_card .roster_img img{
	width: 100%;
	height: auto;
	transition: all .2s ease;
	filter: grayscale(90%);

}
.roster_card .roster_info{
	background: #fff;
	display: flex;
	padding: 10px 20px;
	align-items: center;
	transition: all .2s;
	justify-content: space-between;
}
.roster_info h2{
	font-weight: bold;
	transition: all .2s;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
}
.roster_info span{
	margin: 0;
	transition: all .2s;
	padding: 0;
	color: #fac219;
	font-size: 15px;
	font-weight: 400;
}
.roster_card:hover img{
	filter: grayscale(0%);
}
.roster_card:hover .roster_info{
	background: #fac219;
}
.roster_card:hover .roster_info h2{
	color: #000;
}
.roster_card:hover .roster_info span{
	color: #fff;
}
.merch{
	width: 100%;
	text-align: right;
	background: url(../img/merch_bg.png) center 0px no-repeat;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;
}
.merch h3{
	font-size: 160px;
	color: #fcc419;
	line-height: 140px;
	font-family: 'Industry', sans-serif;
	font-weight: black;
	margin-bottom: 70px;
}
.merch h3 span{
	font-size: 160px;
	color: #0d0c0b;
	text-shadow: 0px 0px 2px #fff;
	font-family: 'Industry', sans-serif;
	font-weight: black;
}
.merch p{
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}
.merch a{
	margin-top: 70px;
}


.articles_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 25px;
}
.articles_row div{
	width: 30%;
	margin: 1%;
	display: inline-block;
	position: relative;
	max-height: 330px;
}
.articles_row div img{
	width: 100%;
	height: 100%;
	filter: grayscale(90%);
}
.articles_row div .article_info{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	content: '';
	background: rgba(0,0,0,.7);
	margin: 0;
	padding: 7px 15px;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.article_info p{
	width: 100%;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}
@media screen and (min-width: 1500px){
	header nav ul li a{
		font-size: 21px;
	}
}
@media screen and (min-width: 1600px){
	header nav ul li a{
		font-size: 23px;
		font-weight: 300;
	}
	.header_block p{
		font-size: 90px;
		margin-top: 190px;
		line-height: 110px;
	}
	.read_btn{
		font-size: 22px;
		padding: 20px 30px;
		padding-right: 150px;

	}
	.read_btn:after{
		right: 10%;
		width: 30px;
	}
	body{
		font-size: 22px;
	}
	.match_item p{
		font-size: 18px;
	}
	.match_item img{
		height: 100px;
	}
	.match_item ul li{
		font-size: 65px;
	}
	.match_item ul li span{
		width: 25px;
		height: 8px;
		display: inline-block;
		background: #fac219;
		margin-bottom: 15px;
		transition: all .3s;
	}
}

@media screen and (max-width: 1200px){
	header nav ul li a{
		font-size: 16px;
		font-weight: 300;
	}
	.header_block p{
		font-size: 60px;
	}
	.header_block .read_btn{
		font-size: 16px;
		padding-right: 70px;
		margin-bottom: 200px;
	}
	body{
		font-size: 16px;
	}
	.match_item p{
		font-size: 13px;
	}
	.match_item img{
		margin-top: 30px;
		height: 70px;
	}
	.match_item ul li{
		font-size: 35px;
	}
	.match_item ul li span{
		width: 25px;
		height: 4px;
		display: inline-block;
		background: #fac219;
		margin-bottom: 10px;
		transition: all .3s;
	}
}

@media screen and (max-width: 1000px){
	header nav ul{
		display: none;
	}
	header .hamburger-menu{
		display: inline-block;
	}
	header nav ul li a{
		font-size: 16px;
		font-weight: 300;
	}
	.header_block p{
		font-size: 55px;
		margin-top: 100px;
		margin-bottom: 80px;
	}
	.header_block .read_btn{
		font-size: 15px;
		padding: 8px 25px;
		padding-right: 70px;
		margin-bottom: 150px;
	}
	body{
		font-size: 15px;
	}
	.matches_row .match_item{
		width: 49.5%;
		margin-bottom: 1%;
	}
	.match_item p{
		font-size: 13px;
	}
	.match_item img{
		margin-top: 30px;
		height: 70px;
	}
	.match_item ul li{
		font-size: 35px;
	}
	.match_item ul li span{
		width: 25px;
		height: 4px;
		display: inline-block;
		background: #fac219;
		margin-bottom: 10px;
		transition: all .3s;
	}
}


@media screen and (max-width: 800px){
	
	header nav ul li a{
		font-size: 16px;
		font-weight: 300;
	}
	.header_block p{
		font-size: 45px;
		margin-top: 100px;
		margin-bottom: 80px;
	}
	.header_block .read_btn{
		font-size: 15px;
		padding: 8px 25px;
		padding-right: 70px;
		margin-bottom: 150px;
	}
	body{
		font-size: 15px;
	}
	.matches_row{
		justify-content: center;

	}
	.matches_row .match_item{
		width: 70%;
		margin-bottom: 2%;
		justify-content: space-around;
	}
	.match_item p{
		font-size: 13px;
	}
	.match_item img{
		margin-top: 30px;
		height: 70px;
	}
	.match_item ul li{
		font-size: 35px;
	}
	.match_item ul li span{
		width: 25px;
		height: 4px;
		display: inline-block;
		background: #fac219;
		margin-bottom: 10px;
		transition: all .3s;
	}

	.open_all{
		display: none;
	}
	.open_all.mobile{
		float: right;
		display: inline-block;
	}
}
@media screen and (max-width: 600px){
	.matches_nav ul li{
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	.header_block p{
		margin-bottom: 50px;
		margin-top: 80px;
	}
	.header_block .read_btn{
		margin-bottom: 50px;
	}
	.matches_row .match_item{
		width: 90%;
	}
}

@media screen and (max-width: 400px){
	.wrapper{
		padding: 15px;
	}
	.matches_row .match_item{
		width: 100%;
	}
}

